h1{
    color: red;
    text-align: center;
    font-size: 20pt;
}
img{
        height: 250px;
        width: 250px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;

}
@media screen and (max-width:600px){
    img{
        margin-left: 0px;
        margin-right: 0px;
    }
}

.pizza{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width:600px){
    body{font-size: 12pt;}
}
